.row
  .col-md-6
    %form.form-inline.text-center{ role: 'search' }
      .input-daterange{ data: { behaviour: 'datepicker' } }
        .col-md-4
          %input.form-control{ value: date_range_start_formatted }
        .col-md-4
          %input.form-control{ value: date_range_end_formatted }
