.row
  = simple_form_for @search, url: transactions_path, method: :get, html: { class: 'form-inline' } do |f|
    .input-daterange{ data: { behaviour: 'datepicker' } }
      .col-xs-4
        = f.input_field :transaction_date_gteq
      .col-xs-4
        = f.input_field :transaction_date_lteq
      .col-xs-2
        = f.button :submit, 'Search', class: 'btn btn-default'
